body {
font-size : 10px;
font-family : verdana, helvetica, sans-serif; 
color : black; 
background : white url(images/bg.gif);
margin : 0; 
padding : 0; 
}

A {
color:#0000FF;
}

A:link:hover {
color: red;
}

A:visited:hover {
color: red;
}

A:active:hover {
color: red;
}

.slurpee-pagetitle {
font-weight : bold;
font-size : 22px;
font-family : Verdana, Helvetica, sans-serif;
color : #FFFFFF;
}

.slurpee-toptext {
font-weight : bold;
font-size : 12px;
font-family : Verdana, Helvetica, sans-serif;
color : #FFFFFF;
}

.slurpee-searchbox {
background-color: #FFFFFF;
color: #000000;
font-family: verdana, helvetica, sans-serif;
font-size: 12px;
border: 1px;
border-style: solid;
border-color: black
}

.slurpee-boxtitle {
font-weight : bold;
font-size : 11px; 
font-family : Verdana, Helvetica, sans-serif;
color : #FFFFFF;
background-color: #8B9EF3;
border: solid 1px #000;
}

.slurpee-boxcontent {
font-weight : normal;
font-size : 11px; 
font-family : Verdana, Helvetica, sans-serif;
color : #000000;
background-color: #FFFFFF;
padding-left: 5px; 
padding-right: 5px; 
border: solid 1px #000;
}

.slurpee-centreboxtitle {
font-weight : bold;
font-size : 18px; 
font-family : Verdana, Helvetica, sans-serif;
color : #FFFFFF;
background-color: #8B9EF3;
padding-left: 5px; 
padding-right: 5px; 
border: solid 1px #000;
}

.slurpee-centreboxtitle a {
color : #FFFFFF;
text-decoration : none;
}

.slurpee-centreboxcontent {
font-weight : normal;
font-size : 12px; 
font-family : Verdana, Helvetica, sans-serif;
color : #000000;
background-color: #FFFFFF;
padding-left: 5px; 
padding-right: 5px; 
border: solid 1px #000;
}

.slurpee-postedby {
font-weight : normal;
font-size : 11px; 
font-family : Verdana, Helvetica, sans-serif;
color : #000000;
background-color: #D3E0FD;
border: solid 1px #000;
}

.slurpee-readmore {
font-weight : normal;
font-size : 11px; 
font-family : Verdana, Helvetica, sans-serif;
color : #000000;
background-color: #D3E0FD;
border: solid 1px #000;
}

.user-login-block {
font-weight : bold;
font-size : 10px; 
font-family : Arial, Helvetica, sans-serif;
color : #000000;
}

H3 {
font-style : normal; 
font-variant : normal; 
font-weight : normal; 
font-size : 14pt; 
font-family : Arial, Helvetica, sans-serif; 
color : #0000ff; 
background-color : transparent; 
}

.slurpee-commentcontents {
font-style : normal; 
font-variant : normal; 
font-weight : normal; 
font-size : 12px; 
font-family : Verdana, helvetica, sans-serif; 
color : #000000; 
background-color : #ffffff;
}

.slurpee-commentheader {
font-style : normal; 
font-variant : normal; 
font-weight : bold; 
font-size : 12px; 
font-family : Verdana, helvetica, sans-serif; 
color : #FFFFFF; 
background-color : #8B9EF3; 
}

.slurpee-box {
border: solid 1px #000;
}

.slurpee-sidecol {
font-style : normal; 
font-variant : normal; 
font-weight : normal; 
font-size : 12px; 
font-family : Verdana, helvetica, sans-serif; 
color : #000000; 
}

.slurpee-smalltextatbottom {
font-style : normal; 
font-variant : normal; 
font-weight : normal; 
font-size : 10px; 
font-family : Verdana, helvetica, sans-serif; 
color : #000000; 
background-color : transparent; 
}

.calendar a {
  text-decoration: none;
}
.calendar td {
  padding: 0;
  border-color: #888;
}
.calendar td div {
  padding: 0.4em 0;
}
.calendar .row-week td a {
  padding: 0.4em 0;
}
.calendar .day-today {
  background-color: #69c;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
  background-color: #369;
  color: #fff;
}
.calendar .header-month {
  background-color: #bbb;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}
